.c-ac{
  position: relative;
  display: inline-block;
  .ac-input{
    outline:none;
    color: #000;
    min-width: 10rem;
    padding: .5rem .2rem;
    border: 1px solid black;
  }
  .ac-dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-sizing: border-box;
    width:100%;
    border:1px solid black;
    border-top:0;
    max-height: 8em;
    overflow-y: scroll;
  }
}