<template>
    <span class="c-ac" @blur="closeDropDown" ref="ac-ref" @keydown.down="setTabIndex('down')" @keydown.up="setTabIndex('up')"
    >
        <div class="ac-toggle ac-input-wrapper">
            <input
                    class="ac-input"
                    v-model="model"
                    ref="ac-input-ref"
                    @click="openDropDown"
            />
        </div>
        <div class="ac-dropdown" v-show="this.open">
            <div class="ac-dropdown-wrapper">
                <ul class="ac-drowdown-list" ref="ac-dropdown-list">
                    <li class="ac-dropdown-item" :tabindex="key+1" v-for="(i, key, index) in filteredOptions()"
                        ref="ac-dropdown-item" @click="sendValue(key)" :id="i[title]" @keydown.enter="sendValue(key)">{{i[title]}}</li>
                </ul>
            </div>
        </div>
    </span>
</template>
<style lang="scss">
    @import 'component';
</style>
<script>
    import Vue from 'vue'
    import axios from 'axios'
    import vueAxios from 'vue-axios'

    Vue.use(vueAxios, axios)

    export default {
        data() {
            return {
                model: '',
                open: false,
                list: null
            }
        },
        watch: {
            model: function (val) {
                this.filteredOptions()
            }
        },
        props: {
            value: '',
            title: '',
            options: ''
        },
        methods: {
            toggleDropDown: function (e) {
                if (e.target !== this.$refs['ac-ref'] || e.target !== this.$refs['ac-input-ref']) this.closeDropDown()
                else {
                    this.openDropDown()
                }
            },
            lookCurrency: function (elements, focusedElement) {
                var currencyElement
                for (var i = 0; i<elements.length; i++) {
                    var currencyStep = elements[i]
                    if (focusedElement.isEqualNode(currencyStep)) {
                        currencyElement = elements[i]
                        return currencyElement
                    }

                }
            },
            setTabIndex: function (e) {

                var elements = this.$refs['ac-dropdown-item']
                var filtered = this.filteredOptions()
                elements = elements.filter((val) => {
                    for (var i in filtered){
                        return filtered[i][this.title] == elements[i].id
                    }
                })
                var focusedElement = document.activeElement
                var currencyElement = this.lookCurrency(elements, focusedElement)




                if (currencyElement != undefined) {
                    var currencyElementTabindex = currencyElement.tabIndex
                    var nextElement
                    var prevElement
                    if (currencyElementTabindex == elements.length) {
                        nextElement = 0;
                        prevElement = elements.length - 2
                    }
                    else if (currencyElementTabindex == 1) {
                        nextElement = 1;
                        prevElement = elements.length-1
                    }
                    else {
                        nextElement = +currencyElementTabindex
                        prevElement = +currencyElementTabindex-2
                    }

                    if (e == 'down') {
                        elements[nextElement].focus()
                    }
                    else {
                        elements[prevElement].focus()
                    }

                }
                else {
                        if (e == 'down') {
                            elements[0].focus()
                        }
                        else {
                            elements[elements.length - 1].focus()
                        }
                    }

            },
            openDropDown: function () {
                this.open = true
            },
            closeDropDown: function () {
                this.open = false
            },
            sendValue: function (item) {
                var filtered = this.filteredOptions()
                this.model = filtered[item][this.title]
                this.open = this.closeDropDown()
                this.$emit('input', filtered[item])
            },
            filteredOptions() {
                if (this.list != null) {

                    let option = this.list.filter((option) => {
                        var str = option[this.title].toLowerCase();
                        var reg = new RegExp('(' + this.model.toLowerCase() + ')', 'i');
                        if (reg.test(str)) return option

                    })
                    return option
                }
            },
            setOptions: function () {
                this.options().then((val) => {
                    this.list = val
                })
            }

        },
        mounted() {
            this.setOptions()
        },
    }

</script>