<template>
    <div class="c-menu">
        <ul>
            <li v-for="i in items">
                <router-link :to="i.path">{{i.name}}</router-link>
            </li>
        </ul>
    </div>
</template>

<style scope lang="scss">
    @import "component";
</style>

<script>
    export default {
        props:{
            items: null
        }
    }
</script>