<template>
    <div id="app">
        <c-menu :items="menuItems"></c-menu>
        <router-view/>
    </div>
</template>

<script>
    import cMenu from '@/components/c-menu/component'

    export default {
        name: 'app',
        data(){
            return{
                menuItems:[
                    {
                        path: '/',
                        name: 'Главная'
                    },
                    {
                        path: '/autocomplete',
                        name: 'Автокомплит',
                    }
                ]
            }
        },
        components:{
            cMenu
        }
    }
</script>

<style>
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
    }
</style>
