<template>
    <div>
        <h1>
            Страница автокомплита
        </h1>
        <c-autocomplete :options="this.getValues" v-model="model" :value="'value'" :title="'title'"></c-autocomplete>
    </div>
</template>

<script>
    import cAutocomplete from '@/components/c-autocomplete/component'
    import Vue from 'vue'
    import axios from 'axios'
    import vueAxios from 'vue-axios'
    Vue.use(vueAxios, axios)

    export default {
        data(){
            return{
                model: '',
            }
        },
        components:{
          cAutocomplete
        },
        updated(){
          console.log(this.model)
        },
        methods:{
            getValues:function() {
                var promise = new Promise(function (resolve, reject) {
                    axios.get('static/test.json').then((value) =>{
                        resolve(value.data.data)
                    }).catch((err) => {
                        reject(err)
                    })

                })
                return promise
            }

        }
    }
</script>
