.height100, html {
  height: 100%;
  //
}

.test-page {
  height: 100%;
  font-family: 'Roboto', sans-serif;

  .test-page-heading {
    .heading-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: #050223;
      .header-logo-wrapper {
        padding: 25px 0 35.5px;
      }
      .header-user-profile-wrapper {
        border-top: 1px solid #302E47;
        border-bottom: 1px solid #302E47;
        padding: 11.5px 0 16.5px;
        .header-user-profile-img {
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          border-radius: 40px;
        }
        .header-user-profile-status {
          display: inline-block;
          padding: 3px 10px;
          width: 85%;
          font-size: 11px;
          margin-top: 10px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
          &.header-user-profile-status-online {
            background-color: rgba(150, 225, 68, 0.51);
            color: white;

          }
        }
      }
      .header-menu-wrapper {
        padding: 2.4px 0 16.4px 0;
        .header-menu {
          list-style: none;
          padding: 0;
          margin: 0;
          .header-menu-item {
            padding: 16.1px 0;
          }
        }
        border-bottom: 1px solid #302E47;

      }
    }
  }
  .rs-wrapper {
    flex-direction: column;
    display: flex;
    .rs-top-block-wrapper {
      background-color: #FFFFFF;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.19);
      .top-menu-wrapper {
        .top-menu {
          list-style: none;
          padding: 0;
          margin: 0;
          display: table;
          .top-menu-item {
            display: table-cell;
            position: relative;
            a {
              text-decoration: none;
              display: block;
              padding: 18px 20px 17px 20px;
              font-size: 13px;
              color: #98A6AD;
              &:hover {
                color: #58666E;
              }

            }
            &:first-of-type {
              a {
                padding-left: 0;
              }
            }
            &.top-menu-item-active {
              a {
                color: #58666E;
              }
              &:after {
                content: '';
                left: 0;
                width: 100%;
                height: .5px;
                position: absolute;
                bottom: -.5px;
                background-color: #35B8FF;
              }
            }
          }
        }
      }
      .rs-top-block-btn-shop-wrapper {
        .rs-top-block-btn-shop {
          background: #35B8FF;
          border-radius: 2px;
          font-size: 12px;
          color: white;
          text-decoration: none;
          padding: 8px 40px;
        }
      }
    }
    .rs-content-wrapper {

      //todo не нашел как пикнуть цвет, подобрал сам
      background-color: rgba(134, 142, 150, 0.11);
      padding: 30px;
      flex: 1;
      .rs-content-wrapper-inner {
        background-color: white;

        .content-ls-wrapper {
          padding: 18px 28.5px 26px 31px;
          display: flex;
          flex-direction: column;
          height: 100%;
          .content-ls-heading-wrapper {
            .content-ls-heading {
              font-size: 15px;
              color: #58666E;
              font-weight: 500;
              display: block;
              margin-bottom: 22px;
            }
          }
          //
          .content-ls-menu-wrapper {
            .content-ls-menu {
              list-style: none;
              padding: 0;
              margin: 0;
              .content-ls-menu-item {
                font-size: 13px;
                color: #58666E;
                border-bottom: 1px solid #DAE0E5;
                padding: 12px 0;
                background-repeat: no-repeat;
                background-position: 98% center;
                a {
                  color: #58666E;
                  text-decoration: none;
                }
                &.content-ls-menu-item-dropdown {
                  background-image: url(../../build/img/055_menu-down.svg);
                }
                &.content-ls-menu-item-add {
                  background-image: url(../../build/img/087_plus.svg);
                }
              }
            }
          }
          .content-ls-controls-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .controls-create-btn {
              background-color: #35B8FF;
              color: white;
              font-size: 11px;
              box-shadow: 0 1px 4px 0; //
              display: block;
              width: 100%;
              padding: 8px 0; //
              -webkit-border-radius: 2px;
              -moz-border-radius: 2px;
              border-radius: 2px;
              text-decoration: none;
            }
            .controls-cancel-btn {
              font-size: 11px;
              color: #58666E;
              text-decoration: none;

            }
          }
        }
        .content-rs-wrapper {
          border-left: 1px solid #DEE5E7;//
          .rs-content-heading {
            padding: 30px 30px 12px 33.5px; //
            .rs-search-wrapper {
              margin-bottom: 0;
              .rs-search {
                border: 0;
                background-image: url(../../build/img/063_magnify.svg);
                background-repeat: no-repeat;
                background-position: 5% 55%;
                padding-left: 15%;
                border-bottom: 1px solid #DEE5E7;
              }
            }
            .total-groups-wrapper {
              vertical-align: middle;
              .total-groups {
                font-size: 13px;
                color: #002A00;
                span {
                  font-size: 20px; //
                }
              }
              .image-shape-wrapper {
                background-color: #DEE5E7; //
                height: 2rem;
                width: 2rem;
                text-align: center;
                margin-left: 10px;
                border-radius: 20px;
                display: inline-block;
              }
            }
          }
          .rs-content-table-wrapper {
            .rs-content-table {
              width: 100%;
              td {
                width: 14.5%;
                text-align: center;
                padding: 9px 0 8px 0;
              }
              td:first-of-type {
                padding-left: 21.5px; //
                text-align: left;
                width: 40%;
              }
              td:last-of-type {
                width: 2%;
              }
              .rs-content-table-head {
                background-color: rgba(222, 229, 231, 0.41);
                td {
                  color: #98A6AD; //
                  font-size: 11px;
                }
              }
              .rs-content-table-body {
                td {
                  padding-top: 8px;
                  padding-bottom: 8px;
                }
                td:first-of-type {
                  font-size: 13px;
                  color: #58666E;
                }
                td:not(:first-of-type) {
                  font-size: 13px;
                  color: #98A6AD; //
                }
              }
            }
          }
        }
      }
    }

  }
}
